USE [master]
GO
/****** Object:  Database [QLKhachSan]    Script Date: 11/06/2018 23:42:35 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'QLKhachSan')
BEGIN
CREATE DATABASE [QLKhachSan] ON  PRIMARY 
( NAME = N'QLKhachSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLKhachSan.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKhachSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLKhachSan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE Latin1_General_CI_AS
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKhachSan]
GO
/****** Object:  ForeignKey [FK_NhanVien_KhachSan]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NhanVien_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[NhanVien]'))
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [FK_NhanVien_KhachSan]
GO
/****** Object:  ForeignKey [FK_LoaiPhong_KhachSan]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LoaiPhong_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[LoaiPhong]'))
ALTER TABLE [dbo].[LoaiPhong] DROP CONSTRAINT [FK_LoaiPhong_KhachSan]
GO
/****** Object:  ForeignKey [FK_Phong_LoaiPhong]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Phong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[Phong]'))
ALTER TABLE [dbo].[Phong] DROP CONSTRAINT [FK_Phong_LoaiPhong]
GO
/****** Object:  ForeignKey [FK_DatPhong_KhachHang]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_KhachHang]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong] DROP CONSTRAINT [FK_DatPhong_KhachHang]
GO
/****** Object:  ForeignKey [FK_DatPhong_LoaiPhong]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong] DROP CONSTRAINT [FK_DatPhong_LoaiPhong]
GO
/****** Object:  ForeignKey [FK_TrangThaiPhong_Phong]    Script Date: 11/06/2018 23:42:36 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TrangThaiPhong_Phong]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrangThaiPhong]'))
ALTER TABLE [dbo].[TrangThaiPhong] DROP CONSTRAINT [FK_TrangThaiPhong_Phong]
GO
/****** Object:  ForeignKey [FK_HoaDon_DatPhong]    Script Date: 11/06/2018 23:42:36 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDon_DatPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDon]'))
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_DatPhong]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/06/2018 23:42:36 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDon_DatPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDon]'))
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_DatPhong]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 11/06/2018 23:42:36 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TrangThaiPhong_Phong]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrangThaiPhong]'))
ALTER TABLE [dbo].[TrangThaiPhong] DROP CONSTRAINT [FK_TrangThaiPhong_Phong]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrangThaiPhong]') AND type in (N'U'))
DROP TABLE [dbo].[TrangThaiPhong]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_KhachHang]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong] DROP CONSTRAINT [FK_DatPhong_KhachHang]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong] DROP CONSTRAINT [FK_DatPhong_LoaiPhong]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatPhong]') AND type in (N'U'))
DROP TABLE [dbo].[DatPhong]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Phong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[Phong]'))
ALTER TABLE [dbo].[Phong] DROP CONSTRAINT [FK_Phong_LoaiPhong]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Phong]') AND type in (N'U'))
DROP TABLE [dbo].[Phong]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LoaiPhong_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[LoaiPhong]'))
ALTER TABLE [dbo].[LoaiPhong] DROP CONSTRAINT [FK_LoaiPhong_KhachSan]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiPhong]') AND type in (N'U'))
DROP TABLE [dbo].[LoaiPhong]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NhanVien_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[NhanVien]'))
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [FK_NhanVien_KhachSan]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[KhachSan]    Script Date: 11/06/2018 23:42:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachSan]') AND type in (N'U'))
DROP TABLE [dbo].[KhachSan]
GO
/****** Object:  Table [dbo].[KhachSan]    Script Date: 11/06/2018 23:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachSan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KhachSan](
	[maKS] [int] IDENTITY(1,1) NOT NULL,
	[tenKS] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[soSao] [int] NULL,
	[soNha] [nvarchar](10) COLLATE Latin1_General_CI_AS NULL,
	[duong] [nvarchar](20) COLLATE Latin1_General_CI_AS NULL,
	[quan] [nvarchar](20) COLLATE Latin1_General_CI_AS NULL,
	[giaTB] [bigint] NULL,
	[moTa] [nvarchar](100) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[maKS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/06/2018 23:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KhachHang](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[tenDangNhap] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[matKhau] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[soCMND] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[diaChi] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[soDienThoai] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[moTa] [nvarchar](100) COLLATE Latin1_General_CI_AS NULL,
	[email] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/06/2018 23:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NhanVien](
	[maNV] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[tenDangNhap] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[matKhau] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[maKS] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/06/2018 23:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiPhong]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[tenLoaiPhong] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[maKS] [int] NULL,
	[donGia] [bigint] NULL,
	[moTa] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[slTrong] [int] NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LoaiPhong]') AND name = N'i_LP_maKS')
CREATE NONCLUSTERED INDEX [i_LP_maKS] ON [dbo].[LoaiPhong] 
(
	[maKS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LoaiPhong]') AND name = N'i_LP_maKS_donGia')
CREATE NONCLUSTERED INDEX [i_LP_maKS_donGia] ON [dbo].[LoaiPhong] 
(
	[maKS] ASC,
	[donGia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/06/2018 23:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Phong]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Phong](
	[maPhong] [int] IDENTITY(1,1) NOT NULL,
	[loaiPhong] [int] NULL,
	[soPhong] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Phong]') AND name = N'i_P_loaiPhong')
CREATE NONCLUSTERED INDEX [i_P_loaiPhong] ON [dbo].[Phong] 
(
	[loaiPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 11/06/2018 23:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatPhong]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DatPhong](
	[maDP] [int] IDENTITY(1,1) NOT NULL,
	[maLoaiPhong] [int] NULL,
	[maKH] [int] NULL,
	[ngayBatDau] [date] NULL,
	[ngayTraPhong] [date] NULL,
	[ngayDat] [date] NULL,
	[donGia] [bigint] NULL,
	[moTa] [nvarchar](100) COLLATE Latin1_General_CI_AS NULL,
	[tinhTrang] [nvarchar](30) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_DatPhong] PRIMARY KEY CLUSTERED 
(
	[maDP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 11/06/2018 23:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrangThaiPhong]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TrangThaiPhong](
	[maPhong] [int] NOT NULL,
	[ngay] [date] NOT NULL,
	[tinhTrang] [nvarchar](30) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_TrangThaiPhong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC,
	[ngay] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/06/2018 23:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HoaDon](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[ngayThanhToan] [date] NULL,
	[tongTien] [bigint] NULL,
	[maDP] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  ForeignKey [FK_NhanVien_KhachSan]    Script Date: 11/06/2018 23:42:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NhanVien_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[NhanVien]'))
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_KhachSan] FOREIGN KEY([maKS])
REFERENCES [dbo].[KhachSan] ([maKS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NhanVien_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[NhanVien]'))
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_KhachSan]
GO
/****** Object:  ForeignKey [FK_LoaiPhong_KhachSan]    Script Date: 11/06/2018 23:42:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LoaiPhong_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[LoaiPhong]'))
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD  CONSTRAINT [FK_LoaiPhong_KhachSan] FOREIGN KEY([maKS])
REFERENCES [dbo].[KhachSan] ([maKS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LoaiPhong_KhachSan]') AND parent_object_id = OBJECT_ID(N'[dbo].[LoaiPhong]'))
ALTER TABLE [dbo].[LoaiPhong] CHECK CONSTRAINT [FK_LoaiPhong_KhachSan]
GO
/****** Object:  ForeignKey [FK_Phong_LoaiPhong]    Script Date: 11/06/2018 23:42:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Phong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[Phong]'))
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([loaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Phong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[Phong]'))
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
/****** Object:  ForeignKey [FK_DatPhong_KhachHang]    Script Date: 11/06/2018 23:42:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_KhachHang]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_KhachHang]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
/****** Object:  ForeignKey [FK_DatPhong_LoaiPhong]    Script Date: 11/06/2018 23:42:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_LoaiPhong] FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DatPhong_LoaiPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatPhong]'))
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_LoaiPhong]
GO
/****** Object:  ForeignKey [FK_TrangThaiPhong_Phong]    Script Date: 11/06/2018 23:42:36 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TrangThaiPhong_Phong]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrangThaiPhong]'))
ALTER TABLE [dbo].[TrangThaiPhong]  WITH CHECK ADD  CONSTRAINT [FK_TrangThaiPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TrangThaiPhong_Phong]') AND parent_object_id = OBJECT_ID(N'[dbo].[TrangThaiPhong]'))
ALTER TABLE [dbo].[TrangThaiPhong] CHECK CONSTRAINT [FK_TrangThaiPhong_Phong]
GO
/****** Object:  ForeignKey [FK_HoaDon_DatPhong]    Script Date: 11/06/2018 23:42:36 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDon_DatPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDon]'))
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DatPhong] FOREIGN KEY([maDP])
REFERENCES [dbo].[DatPhong] ([maDP])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDon_DatPhong]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDon]'))
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DatPhong]
GO
