<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DataSource" connectionString="DESKTOP-8J887G8\SQLEXPRESS" providerName="System.Data.SqlClient" />
    <add name="UserID" connectionString="dev" providerName="System.Data.SqlClient" />
    <add name="Password" connectionString="dev" providerName="System.Data.SqlClient" />
    <add name="InitialCatalog" connectionString="QLKhachSan" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>