<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DataSource" connectionString="LAPTOP-994K5KBR\SQLEXPRESS" providerName="System.Data.SqlClient" />
    <add name="UserID" connectionString="duong" providerName="System.Data.SqlClient" />
    <add name="Password" connectionString="12345" providerName="System.Data.SqlClient" />
    <add name="InitialCatalog" connectionString="QLKhachSan" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>